.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
  padding: 0;
}

li {
  list-style: none;
}

.image-container {
  position: relative;
  overflow: hidden;
}
.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.image-container::after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
}